body {
  height: 100vh;
  background: rgb(63, 154, 252);
  background: linear-gradient(
    0deg,
    rgba(63, 154, 252, 1) 0%,
    rgba(31, 163, 215, 1) 19%,
    rgba(186, 251, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 30vh;
}

.tir {
  position: absolute;
  top: 120px;
  width: 500px;
  animation: tir 5s linear infinite;
}

@keyframes tir {
  0% {
    right: -500px;
  }
  100% {
    right: 100vw;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.okladka {
  height: 20vh;
  object-fit: cover;
  transition: 0.2s;
  cursor: pointer;
}

.okladka:hover {
  scale: 1.1;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 102, 102, 1) 0%,
    rgba(255, 204, 102, 1) 50%,
    rgba(102, 204, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
