* {
  font-family: arial;
}
.blok1 {
  background-color: #483D8B;
  height: 150px;
  width: 30%;
}
.blok2 {
  background-color: #483D8B;
  color: white;
  width: 70%;
}
.dzien {
  background-color: #AFEEEE;
  width: 150px;
  height: 100px;
  margin: 3px;
  border: 1px solid black;
}
header, main {
  display: flex;

}
footer {
  background-color: #483D8B;
  color: white;
  padding: 10px;
}
h5 {
  text-align: center;
}
main {
  flex-wrap: wrap;
}